*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: black;
    font-family:'Georgia', sans-serif;
}

body{
    background:#f2f2f2;
}

nav{
    background:f2f2f2;
}

nav:after{
    content:'';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: rgb(59, 59, 59);
    font-size: 25px;
    font-weight: lighter;
    word-spacing: 6px;
    letter-spacing: 12px;
    line-height: 220px;
    padding-left: 100px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
    letter-spacing: 1px;
}

nav ul li{
    float: left;
    display: inline-block;
    background: f2f2f2;
    margin: 0 12px;
}

nav ul li a{
    color: rgb(82, 81, 81);
    text-decoration: none;
    line-height: 220px;
    font-size: 13px;
    padding: 18px 20px;
}

nav ul li a:hover{
    color: black;
}

nav ul ul li a:hover{
    color: black;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 130px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 180px;
    float:none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 35px;
}

nav ul ul ul li{
    position: relative;
    top: -94px;
    left: 150px;
}

.container{
    padding-left: 100px;
    padding-right:130px;
}

.lines{
    width: 100%;
    height: 5px;
    position: relative;
}

.lines::after, .lines::before{
    content:'';
    position:absolute;
    margin: auto;
    height: 1px;
    background: rgb(65, 64, 64);
    width: 47%;
    top: 45%;
}

.lines::after{
    left:0;
}
.lines::before{
    right:0;
}

.diamond{
    height: 12px;
    width: 12px;
    border: 1px solid rgb(53, 53, 53);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}

@media (max-width: 768px){
    .diamond{
        height:5px;
        width:5px;
    }
    .lines{
        height: 25px;
    }
}