*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: black;
    font-family:'Georgia', sans-serif;
}

body{
    background:#f2f2f2;
}

nav{
    background:f2f2f2;
}

nav:after{
    content:'';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: rgb(59, 59, 59);
    font-size: 25px;
    font-weight: lighter;
    word-spacing: 6px;
    letter-spacing: 12px;
    line-height: 220px;
    padding-left: 100px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
    letter-spacing: 1px;
}

nav ul li{
    float: left;
    display: inline-block;
    background: f2f2f2;
    margin: 0 12px;
}

nav ul li a{
    color: rgb(82, 81, 81);
    text-decoration: none;
    line-height: 220px;
    font-size: 13px;
    padding: 18px 20px;
}

nav ul li a:hover{
    color: black;
}

nav ul ul li a:hover{
    color: black;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s;
}

nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 130px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 180px;
    float:none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 35px;
}

nav ul ul ul li{
    position: relative;
    top: -94px;
    left: 150px;
}

.container{
    padding-left: 100px;
    padding-right:100px;
}

.lines{
    width: 100%;
    height: 5px;
    position: relative;
}

.lines::after, .lines::before{
    content:'';
    position:absolute;
    margin: auto;
    height: 1px;
    background: rgb(65, 64, 64);
    width: 47%;
    top: 45%;
}

.lines::after{
    left:0;
}
.lines::before{
    right:0;
}

.diamond{
    height: 12px;
    width: 12px;
    border: 1px solid rgb(53, 53, 53);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}


@media (max-width: 768px){
    .diamond{
        height:5px;
        width:5px;
    }
    .lines{
        height: 25px;
    }
}

main{
    margin: 0 150px;
}

.one{
    width: 100%;
    height: auto;
    margin:0 auto;
    display: flex;
}
.oneImage{
    width: 55%;
}
.oneImage img{
    width: 100%;
}
.oneCon{
    width: 40%;
    margin: 0 0 0 8%;
    font-family:'Didot';
}
.conOne{
    width: 100%;
    height: 3%;
    display: flex;
}
.title{
    width: 100%;
}
.title p{
    font-size: 20px;
    font-weight: bold;
}
.year{
    width: 40%;
}
.year p{
    font-size: 13px;
    line-height: 30px;
}
.conTwo{
    width: 100%;
    height: 15%;
}
.conTwo p{
    font-size: 13px;
    margin-top: 10%;
}
.conThree{
    width: 100%;
    height: 60%;
    padding: 0;
}
.conThree p{
    font-size: 14px;
    line-height: 30px;
}
.conFour{
    width: 100%;
    height: 20%;
}
.conFour p{
    font-size: 14px;
    line-height: 30px;
}

.two{
    width: 100%;
    height: auto;
    margin:5% 1% auto;
    display: flex;
}

.two p{
    font-size: 14px;
    line-height: 30px;
}

.mainImage{
    width: 100%;
    height: auto;
    margin:50px auto;
}
.mainImage img{
    width:100%;
}


.contact{
    width:100%;
    height:auto;
    margin:12% 0 10% 0;
    padding-top: 5%;
    text-align:center;
    font-size:18px;
}

.contact p{
    font-family:'Georgia', sans-serif;
    color: rgb(124, 124, 124);
    font-weight: lighter;
}

.info{
    width:100%;
    height:auto;
    text-align:center;
    font-size:14px;
}

.info p{
    font-family:'Georgia', sans-serif;
    color: rgb(65, 65, 65);
}
